{% if latest_qns %}
    <ul>
        {% for question in latest_qns %}
            <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p> No polls are available.</p>
{% endif %}