<h4>Result</h4>
<span> {{ question.question_text }} </span><br>
<span> {{ question.pub_date }} </span>

<ul>
{% for choice in question.choice_set.all %}
    <li> {{ choice.choice_text }} : {{ choice.votes }} vote{{ choice.votes|pluralize }}
{% endfor %}
</ul>

<a href="{% url 'polls:vote' question.id %}">Vote again? </a>